<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlyc-pm18e9FKwbhGG8ay2hrk2pMJWuxY</string>
	<key>GCM_SENDER_ID</key>
	<string>387973959750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thesis.thesisApp</string>
	<key>PROJECT_ID</key>
	<string>thesis-app-e3bef</string>
	<key>STORAGE_BUCKET</key>
	<string>thesis-app-e3bef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387973959750:ios:9ffcd2e8e57f124102fa47</string>
</dict>
</plist>